@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>St. Joseph's General Hospital</h1>
    <p class="lead">We care for you! Body, mind, and spirit.</p>
    <p><a href="/Registration/Add" class="btn btn-primary btn-lg">Register Today!</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Donate</h2>
        <p>
            Want to help our foundation? Donate to the St. Joseph's Foundation of Elliot Lake and help us get our community stronger together.
        </p>
        <p><a class="btn btn-default" href="/Donation/Add">Donate</a></p>
    </div>
    <div class="col-md-4">
        <h2>See a doctor</h2>
        <p>
            Skip the line and book an appointment with your selected doctor today. Pick the date, pick the doctor. We have the rest covered.
        </p>
        <p><a class="btn btn-default" href="/BookingAppointment/Add">Book</a></p>
    </div>
    <div class="col-md-4">
        <h2>Have questions?</h2>
        <p>Visit our Patient's forum and find the answers of the questions you are looking for, given to you by certified doctors.</p>
        <p><a class="btn btn-default" href="/ForumPost/List">Forum</a></p>
    </div>


</div>