
@{
    ViewBag.Title = "Add";
}

    <div class="container">
        <h2>Add a Record</h2>
        <form method="post" action="/Record/New" enctype="multipart/form-data">
            <div class="form-group">
                <label for="recordName">Record Name</label>
                <input type="text" class="form-control" id="recordName" name="RecordName">
            </div>
            <div class="form-group">
                <label for="recordType">Type of Record</label>
                <select class="form-control" name="recordType" id="recordType">
                    <option value="notes">Notes</option>
                    <option value="prescription">Prescription</option>
                    <option value="referral">Referral</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-check-label" for="recordContent">Content</label>
                <input type="text" class="form-control" id="recordContent" name="recordContent">
            </div>
            <!--
    <div class="form-group">
        <label class="form-check-label" for="recordFile">Attach a file</label>
        <input type="file" name="recordFile" id="recordFile" />
    </div> -->
            <!-- temporary section until bookings are created-->
            <div class="form-group">
                <label class="form-check-label" for="bookingID">Booking ID</label>
                <input type="text" class="form-control" id="bookingID" name="bookingID">
            </div>

            <button type="submit" class="btn btn-info">Add Record</button>
        </form>
    </div>

