@model HospitalProjectTeam4.Models.Record
@{
    ViewBag.Title = "DeleteConfirm";
}
    <div class="container">
        <div class="alert alert-secondary" role="alert">
            <h4 class="alert-heading">Delete @Model.RecordName</h4>
            <p>Are you sure you want to delete this record?</p>
            <form method="POST" action="/Record/Delete/@Model.RecordID">
                <div class="input">
                    <input class="btn btn-danger" type="submit" value="Confirm" />
                </div>
            </form>
            <div class="navbar">
                <a href="/Record/Show/@Model.RecordID">Cancel</a>
            </div>
        </div>
    </div>

