@model List<HospitalProjectTeam4.Models.Record>
@{
    ViewBag.Title = "List";
}
    <div class="container">
        <h2>List</h2>
        <div class="list-group">

            @{
                foreach (var Record in Model)
                {
                    <a href="#" class="list-group-item list-group-item-action active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@Record.RecordName</h5>
                            <small>@Record.BookingDate</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small>Donec id elit non mi porta.</small>
                    </a>
                    <div>@Record.RecordID</div>
                    <div></div>

                }


            }
        </div>
    </div>