@model HospitalProjectTeam4.Models.OnlineCheckIn
@{
    ViewBag.Title = "Add";
}

<h2>Add Check In</h2>

<div class="navbar">
    <a class="navlink" href="/OnlineCheckIn /List">Back to List</a>
</div>

<form method="post" action="/OnlineCheckIn/New" encrypte="multipart/form-data">
    <div class="form-group">
        <label for="patientFName">Name:</label>
        <input type="text" class="form-control" id="patientFName" name="patientFName" />

        <label for="patientLName">Last Name:</label>
        <input type="text" class="form-control" id="patientLName" name="patientLName" />

        <label for="Date">Date:</label>
        <input type="datetime" class="form-control" id="Date" name="Date" />
    </div>

    <div class="form-group">
        <label for="bookingID">Booking Reference No.</label>
        <input type="text" class="form-control" id="bookingID" name="bookingId" />
    </div>

    <button type="submit" class="btn btn-info">Add Online Check-In</button>

</form>
