
@{
    ViewBag.Title = "Add";
}



    <div class="container">
        <h2>Register Doctor</h2>
        <div class="errorbox">
            @{
                if (ViewBag.ErrorMessage != null)
                {
                    @ViewBag.ErrorMessage
                    <ul>
                        @foreach (var Error in ViewBag.Errors)
                        {
                            <li>@Error</li>
                        }
                    </ul>
                }
            }

        </div>
        <form method="post" action="/Doctor/Add">
            <div class="sectionheader">Account Details</div>
            <!-- temporary section until login and users abilitated-->
            <div class="form-group">
                <label class="form-check-label" for="UserEmail">Email</label>
                <input type="text" class="form-control" id="UserEmail" name="UserEmail">
            </div>
            <div class="form-group">
                <label for="UserPassword">Password</label>
                <input type="password" class="form-control" id="UserPassword" name="UserPassword">
            </div>
            <div class="sectionheader">Doctor Details</div>
            <div class="form-group">
                <label class="form-check-label" for="DoctorFname">First Name</label>
                <input type="text" class="form-control" id="DoctorFname" name="DoctorFname">
            </div>
            <div class="form-group">
                <label class="form-check-label" for="DoctorMname">Middle Name</label>
                <input type="text" class="form-control" id="DoctorMname" name="DoctorMname">
            </div>
            <div class="form-group">
                <label class="form-check-label" for="DoctorLname">Last Name</label>
                <input type="text" class="form-control" id="DoctorLname" name="DoctorLname">
            </div>
            <div class="form-group">
                <label class="form-check-label" for="DoctorDOB">Date of Birth</label>
                <input type="date" class="form-control" id="DoctorDOB" name="DoctorDOB">
            </div>
            <div class="form-group">
                <label class="form-check-label" for="DoctorPhone">Phone Number</label>
                <input type="text" class="form-control" id="DoctorPhone" name="DoctorPhone">
            </div>
            <div class="form-group">
                <label class="form-check-label" for="DoctorAltPhone">Alternative Phone Number</label>
                <input type="text" class="form-control" id="DoctorAltPhone" name="DoctorAltPhone">
            </div>


            <button type="submit" class="btn btn-info">Register Doctor</button>
        </form>
    </div>

