
@{
    ViewBag.Title = "AccessDenied";
}

<h2>UH OH! Looks like you are not patient and cannot post on this forum</h2>
<p>Are you a doctor? You can comment on the Posts!</p>
<a href="/ForumPost/List">Go back to forum list</a>

