
@{
    ViewBag.Title = "AccessDeniedComment";
}

<h2>UH OH! Looks like you are not a doctor and cannot comment on this forum!</h2>
<p>Are you a patient? Make a post and allow doctors to help you</p>
<p>Or browse through the posts and find what you are looking for!</p>
<a href="/ForumPost/List">Go back to forum list</a>

