
@{
    ViewBag.Title = "Add";
}

<div class="container">
    <h2>Make a new Post</h2>
    <form method="post" action="/ForumPost/New">
        
        <div class="form-group">
            <label for="postingTitle">Posting Title</label>
            <input type="text" class="form-control" id="postingTitle" name="postingTitle">
        </div>
        <div class="form-group">
            <label for="postingCateogry">Posting Category</label>
            <select class="form-control" name="postingCategory" id="postingCategory">
                <option value="general health">General Health</option>
                <option value="mental health">Mental Health</option>
                <option value="brain and nerves">Brain and Nerves</option>
                <option value="women's health">Women's Health</option>
                <option value="operations and surgical procedures">Operations and Surgical Procedures</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-check-label" for="postingContent">Posting Content</label>
            <input type="text" class="form-control" id="postingContent" name="postingContent" style="height:100px;">
        </div>
        <!--Making the Posting Active-->
        <input type="hidden" name="postingState" value="1"/>


        <button type="submit" class="btn btn-info">Create Posting</button>
    </form>
</div>

