@model HospitalProjectTeam4.Models.ViewModels.AddBooking
@{
    ViewBag.Title = "Add";
}

<div class="container-fluid">
    <h2>Book an appoitment</h2>
    <hr />
    <form method="post" action="Add">
        <div class="col-md-2">
            Please select the doctor:
        </div>

        <div class="col-md-10">
            <select name="doctorid" class="form-control">
                @foreach (var doc in Model.Doctors)
                {
                    <option value="@doc.DoctorID">@doc.DoctorFName</option>
                }
            </select>
        </div>

        <div class="col-md-2">
            Please enter date:
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" name="datebooking" />
        </div>
        <div class="col-md-2">
            Please select patient:
        </div>
        <div class="col-md-10">

            <select name="patientid" class="form-control">
                @foreach (var pat in Model.Patients)
                {
                    <option value="@pat.PatientID">@pat.PatientFName</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <input type="submit" class="btn btn-success" name="book" />
        </div>
    </form>
</div>
